<div class="modal" id="startSequenceModal" tabindex="-1" role="dialog"
aria-labelledby="startSequenceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width: 100%;">
                    <img src="assets/images/oak.png">
                    <h5 class="modal-title" id="startSequenceModalLabel">Professor Oak</h5>
                </div>
            </div>
            <div class="modal-body">
                <p>
                Welcome entrant#4368. We are happy you accepted our invitation!<br/>
                You will now be sent to an old instance of the digital world<br/>
                to experience some of its moments of need, as they happened.<br/>
                Use your knowledge of past events to stay one step ahead<br/>
                of the others. More of your mission will be revealed as you<br/>
                make progress. If you agree to these terms proceed to Log in.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning mr-auto" href="#challengeModeModal" data-toggle="modal">Challenge Modes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Log in</button>
            </div>
        </div>
    </div>
</div>
